<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ASCOM.Common.Components" version="1.0.0-alpha29" targetFramework="net48" />
  <package id="ASCOM.Compatibility.Utilities" version="1.0.0-alpha23" targetFramework="net48" />
  <package id="ASCOM.Exceptions" version="6.5.1" targetFramework="net48" />
  <package id="ASCOM.Standard.Types" version="1.0.0-alpha19" targetFramework="net48" />
</packages>