@using System.Web;

@inject NavigationManager MyNavigationManager

<AuthorizeView>

    <Authorized>

        <b>Hello, @context.User.Identity.Name!</b>

        <a class="ml-md-auto btn btn-primary"
           href="/logout?returnUrl=/"
           target="_top">Logout</a>
    </Authorized>

    <NotAuthorized>

        <input type="text"
               placeholder="User Name"
               @bind="@Username" />

        &nbsp;&nbsp;

        <input type="password"
               placeholder="Password"
               @bind="@Password" />

        <a class="ml-md-auto btn btn-primary"
           href="/login?paramUsername=@Encode(@Username)&paramPassword=@Encode(@Password)&paramReturnUrl=@Encode(@Return)"
           target="_top">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    string Username = "";

    string Password = "";

    string Return
    {
        get
        {
            return new Uri(MyNavigationManager.Uri).LocalPath;
        }
    }

    private string Encode(string param)

    {
        return HttpUtility.UrlEncode(param);
    }
}